<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Something's wrong...</title>
  </head>
  <body>
    <h1>{{maintainanceMessage}}</h1>
    <p>{{updateMessage}}</p>
  </body>
</html>
